body {
    text-align: center;
}

#xcontainer {
    width: 60em;
    margin-bottom: 2em;
    text-align: left;
}

#header #logo {
    background: url(logo.gif) 0 0 no-repeat;
}

pre.src {
   background: #f5f5f5 url(paw.gif) top right no-repeat;
}